<LaunchLaterConfig>
  <Profiles>
    <Profile Name="Primary" Default="true">
      <LLApplications>
        <LLApplication Name="Notepad" FullPath="c:\windows\notepad.exe" Arguments="" DelaySeconds="10" />
        <LLApplication Name="Calc" FullPath="c:\windows\system32\Calc.exe" Arguments="" DelaySeconds="20" />
      </LLApplications>
    </Profile>
  </Profiles>
</LaunchLaterConfig>

